<!DOCTYPE html>
{% load staticfiles%}
<html lang="en">
<head>
<meta charset="utf-8">
<title>Vitrine internacional</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<link href='http://fonts.googleapis.com/css?family=Terminal+Dosis' rel='stylesheet' type='text/css'>
<script src="{% static 'js/jquery-1.8.2.min.js' %}"></script>
<script src="{% static 'js/jquery-ui-1.8.13.custom.min.js' %}"></script>
<!-- The below script Makes IE understand the new html5 tags are there and applies our CSS to it -->
<!--[if IE]>
  <script src="{% static 'js/html5.js' %}"></script>
<![endif]-->
</head>
<body id="{% block idBody %}{% endblock %}">
<header>
	<div class="wrapper">
        <h1><a href="{% url 'vendas_index' %}" id="brand" title="Vendas Importado">Vendas Importado</a></h1>
        <nav>
            <ul>
                {% block menu %}
                {% endblock %}
            </ul>
        </nav>
    </div>
</header>
<aside id="top">
	<div class="wrapper">
        <ul id="social">
            <li><a href="#" class="facebook" title="like us us on Facebook">like us us on Facebook</a></li>
            <li><a href="#" class="twitter" title="follow us on twitter">follow us on twitter</a></li>
        </ul>
        <form>
        	<input type="text" placeholder="Search ABC comp..." /><button type="submit">Search</button>
        </form>
        <div id="action-bar"><a href="login.html">Login/Register</a> // <a href="viewbasket.html">Your bag (3) &nbsp; &pound;148</a></div>
    </div>
</aside>
{% block content %}
{% endblock %}
<footer>
	<div class="wrapper">
    	<span class="logo">Vitrine internacional</span>
    </div>
</footer>
</body>
</html>