    <script type="text/javascript" charset="utf-8">
        $(function(){
            $('#sortBy').bind('change', function(){
                var url = $(this).val();
                if(url)
                    window.location = url;

                return false;
            })
        })
    </script>

    <select name="sortBy" id="sortBy">
        <option value="{% url 'vendas_search_order' pk=pagination.pk page_current=pagination.current order_list=1 %}">
            ------------
        </option>
        <option value="{% url 'vendas_search_order' pk=pagination.pk page_current=pagination.current order_list=2 %}">
            Maior preço
        </option>
        <option value="{% url 'vendas_search_order' pk=pagination.pk page_current=pagination.current order_list=3 %}">
            Menor preço
        </option>
    </select>