{% extends 'base/base.html'%}
{% load staticfiles%}

{% block idBody %}home{% endblock %}

{% block menu %}
    {% for tipo in menu %}
        <li>
          <a href="{% url 'vendas_search' pk=tipo.pai.id %}">{{tipo.pai.titulo}}s</a>
          <ul class="sub-menu">
              {% for filho in tipo.filhos %}
                <li><a href="{% url 'vendas_search' pk=filho.id %}">{{filho.titulo}}</a></li>
              {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <article>
        <a href="search.html"><img src="{% static 'images/photo.jpg'%}" /></a>
    </article>
{% endblock %}