{% extends 'base/base.html'%}
{% load staticfiles%}

{% block menu %}
    {% for tipo in menu %}
        <li>
          <a href="{% url 'vendas_search' pk=tipo.pai.id %}">{{tipo.pai.titulo}}s</a>
          <ul class="sub-menu">
              {% for filho in tipo.filhos %}
                <li><a href="{% url 'vendas_search' pk=filho.id %}">{{filho.titulo}}</a></li>
              {% endfor %}
            </ul>
        </li>
    {% endfor %}
{% endblock %}

{% block content %}
    <article id="grid">
        <header>
            <div class="paging">
                {% include 'base/pagination.html' %}
            </div>
            {% include 'base/dropOrder.html' %}
        </header>
        <ul id="items">
            {% for item in pecas %}
            <li>
                <a href="{% url 'vendas_main' idProduct=item.peca.id %}"><img src="{{item.imagem.arquivo.url}}" alt="{{ item.peca.titulo_curto }}"/></a>
                <a href="{% url 'vendas_main' idProduct=item.peca.id %}" class="title">{{ item.peca.titulo_curto }}</a>
                {% load humanize %}
                <strong>R$&nbsp{{ item.peca.preco|intcomma }}</strong>
            </li>
            {% endfor %}
        </ul>
        <footer>
            <div class="paging">
                {% include 'base/pagination.html' %}
            </div>
        </footer>
    </article>
{% endblock %}
